//colors
$color_mine_shaft_approx: #313131;
$color_gallery_approx: #eee;
$color_fuscous_gray_approx: #505050;
$silver: #c0c0c0;
$white_60: rgba(255, 255, 255, .6);
$color_log_cabin_approx: #202020;
$white: #fff;
$white_10: rgba(255, 255, 255, .1);
$color_star_dust_approx: #9a9a9a;
$color_mountain_mist_approx: #999;
$color_curious_blue_approx: #268bd2;
$color_celeste_approx: #ccc;
$color_wild_sand_approx: #f5f5f5;
$color_apple_blossom_approx: #ac4142;
$color_raw_sienna_approx: #d28445;
$color_rob_roy_approx: #f4bf75;
$color_chelsea_cucumber_approx: #90a959;
$color_gulf_stream_approx: #75b5aa;
$color_hippie_blue_approx: #6a9fb5;
$color_bouquet_approx: #aa759f;
$color_potters_clay_approx: #8f5536;
$black_10: rgba(0, 0, 0, .1);

//fonts
$font_0: Roboto;
$font_1: Georgia;
$font_2: Times New Roman;
$font_3: serif;
$font_4: Lato;
$font_5: Helvetica;
$font_6: Arial;
$font_7: sans-serif;
$font_8: PT Sans;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
	font-family: $font_4, $font_5, $font_6, $font_7;
	font-weight: 400;
	color: $color_mine_shaft_approx;
	letter-spacing: -.025rem;
}

//original selectors
//.sidebar-nav-item.active, a.sidebar-nav-item:hover, a.sidebar-nav-item:focus
%extend_2 {
	text-decoration: none;
	background-color: $white_10;
	border-color: transparent;
}


html {
	overflow-x: hidden;
	font-family: $font_0, $font_1, $font_2, $font_3;
}
body {
	overflow-x: hidden;
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
.wrap {
	position: relative;
	width: 100%;
	//Instead of the line below you could use @include backface-visibility($visibility)
	backface-visibility: hidden;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform .3s ease-in-out;
}
.container {
	max-width: 28rem;
}
@media(min-width: 38em) {
	.container {
		max-width: 32rem;
	}
}
@media(min-width: 56em) {
	.container {
		max-width: 38rem;
	}
}
.masthead {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid $color_gallery_approx;
}
.masthead-title {
	margin-top: 0;
	margin-bottom: 0;
	color: $color_fuscous_gray_approx;
	a {
		color: $color_fuscous_gray_approx;
	}
	small {
		font-size: 75%;
		font-weight: 400;
		color: $silver;
		letter-spacing: 0;
	}
}
@media(max-width: 48em) {
	.masthead-title {
		text-align: center;
		small {
			display: none;
		}
	}
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -14rem;
	width: 14rem;
	visibility: hidden;
	overflow-y: auto;
	font-family: $font_8, $font_5, $font_6, $font_7;
	font-size: .875rem;
	color: $white_60;
	background-color: $color_log_cabin_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .3s ease-in-out;
	//Instead of the line below you could use @include backface-visibility($visibility)
	backface-visibility: hidden;
	a {
		font-weight: normal;
		color: $white;
	}
}
@media(min-width: 30em) {
	.sidebar {
		font-size: .75rem;
	}
	.pagination {
		margin: 3rem 0;
	}
	.pagination-item {
		float: left;
		width: 50%;
		&:first-child {
			margin-bottom: 0;
			//Instead of the line below you could use @include border-top-left-radius($radius)
			border-top-left-radius: 4px;
			//Instead of the line below you could use @include border-bottom-left-radius($radius)
			border-bottom-left-radius: 4px;
		}
		&:last-child {
			margin-left: -1px;
			//Instead of the line below you could use @include border-top-right-radius($radius)
			border-top-right-radius: 4px;
			//Instead of the line below you could use @include border-bottom-right-radius($radius)
			border-bottom-right-radius: 4px;
		}
	}
}
.sidebar-item {
	padding: 1rem;
	p:last-child {
		margin-bottom: 0;
	}
}
.sidebar-nav {
	border-bottom: 1px solid $white_10;
}
.sidebar-nav-item {
	display: block;
	padding: .5rem 1rem;
	border-top: 1px solid $white_10;
	&.active {
		@extend %extend_2;
	}
}
a {
	&.sidebar-nav-item {
		&:hover {
			@extend %extend_2;
		}
		&:focus {
			@extend %extend_2;
		}
	}
	&.pagination-item:hover {
		background-color: $color_wild_sand_approx;
	}
}
@media(min-width: 48em) {
	.sidebar-item {
		padding: 1.5rem;
	}
	.sidebar-nav-item {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
.sidebar-checkbox {
	position: absolute;
	opacity: 0;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
}
.sidebar-toggle {
	position: absolute;
	top: .8rem;
	left: 1rem;
	display: block;
	padding: .25rem .75rem;
	color: $color_fuscous_gray_approx;
	background-color: $white;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: .25rem;
	cursor: pointer;
	//Instead of the line below you could use @include backface-visibility($visibility)
	backface-visibility: hidden;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform .3s ease-in-out;
	&:before {
		display: inline-block;
		width: 1rem;
		height: .75rem;
		content: "";
		background-image: linear-gradient(to bottom, $color_fuscous_gray_approx, $color_fuscous_gray_approx 20%, $white 20%, $white 40%, $color_fuscous_gray_approx 40%, $color_fuscous_gray_approx 60%, $white 60%, $white 80%, $color_fuscous_gray_approx 80%, $color_fuscous_gray_approx 100%);
	}
	&:active {
		color: $white;
		background-color: $color_fuscous_gray_approx;
		&:before {
			background-image: linear-gradient(to bottom, $white, $white 20%, $color_fuscous_gray_approx 20%, $color_fuscous_gray_approx 40%, $white 40%, $white 60%, $color_fuscous_gray_approx 60%, $color_fuscous_gray_approx 80%, $white 80%, $white 100%);
		}
	}
}

@media(min-width: 30.1em) {
	.sidebar-toggle {
		position: fixed;
	}
}
@media print {
	.sidebar-toggle {
		display: none;
	}
}
.page {
	margin-bottom: 4em;
}
.post {
	margin-bottom: 2em;
	&:first-child {
		margin-top: 2em;
	}
}
.page-title {
	text-transform: capitalize;
	color: $color_mine_shaft_approx;
	margin-top: 0;
}
.post-title {
	color: $color_mine_shaft_approx;
	margin-top: 0;
	a {
		color: $color_mine_shaft_approx;
	}
}
.post-date {
	display: block;
	margin-top: -.5rem;
	margin-bottom: 1rem;
	color: $color_star_dust_approx;
	font-size: 0.65rem;
	text-transform: uppercase;
}

.pagination {
	overflow: hidden;
	margin-left: -1rem;
	margin-right: -1rem;
	font-family: $font_8, $font_5, $font_6, $font_7;
	color: $color_celeste_approx;
	text-align: center;
}
.pagination-item {
	display: block;
	padding: 1rem;
	border: 1px solid $color_gallery_approx;
	&:first-child {
		margin-bottom: -1px;
	}
}

@include critical(false) {

    #sidebar-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar, #sidebar-checkbox:checked ~ .wrap, #sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(14rem);
  -ms-transform: translateX(14rem);
  transform: translateX(14rem);
}


    #sidebar-checkbox {
	&:focus ~ .sidebar-toggle {
		color: $white;
		background-color: $color_fuscous_gray_approx;
		&:before {
			background-image: linear-gradient(to bottom, $white, $white 20%, $color_fuscous_gray_approx 20%, $color_fuscous_gray_approx 40%, $white 40%, $white 60%, $color_fuscous_gray_approx 60%, $color_fuscous_gray_approx 80%, $white 80%, $white 100%);
		}
	}
}

    .related {
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid $color_gallery_approx;
}
.related-posts {
	padding-left: 0;
	list-style: none;
	h3 {
		margin-top: 0;
	}
	li {
		small {
			font-size: 75%;
			color: $color_mountain_mist_approx;
		}
		a:hover {
			color: $color_curious_blue_approx;
			text-decoration: none;
			small {
				color: inherit;
			}
		}
	}
}

    .layout-reverse {
	.sidebar {
		left: auto;
		right: -14rem;
	}
	.sidebar-toggle {
		left: auto;
		right: 1rem;
	}
    #sidebar-checkbox:checked ~ .sidebar, #sidebar-checkbox:checked ~ .wrap, #sidebar-checkbox:checked ~ .sidebar-toggle {
			transform: translateX(-14rem);
    }
	&.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: -.25rem 0 .5rem $black_10;
	}
}
.theme-base-08 {
	.sidebar {
		background-color: $color_apple_blossom_approx;
	}
	.sidebar-toggle {
		color: $color_apple_blossom_approx;
		&:active {
			background-color: $color_apple_blossom_approx;
		}
	}
	#sidebar-checkbox:checked ~ .sidebar-toggle {
		background-color: $color_apple_blossom_approx;
	}
	.container a {
		color: $color_apple_blossom_approx;
	}
	.related-posts li a:hover {
		color: $color_apple_blossom_approx;
	}
}
.theme-base-09 {
	.sidebar {
		background-color: $color_raw_sienna_approx;
	}
	.sidebar-toggle {
		color: $color_raw_sienna_approx;
		&:active {
			background-color: $color_raw_sienna_approx;
		}
	}
	#sidebar-checkbox:checked ~ .sidebar-toggle {
		background-color: $color_raw_sienna_approx;
	}
	.container a {
		color: $color_raw_sienna_approx;
	}
	.related-posts li a:hover {
		color: $color_raw_sienna_approx;
	}
}
.theme-base-0a {
	.sidebar {
		background-color: $color_rob_roy_approx;
	}
	.sidebar-toggle {
		color: $color_rob_roy_approx;
		&:active {
			background-color: $color_rob_roy_approx;
		}
	}
	#sidebar-checkbox:checked ~ .sidebar-toggle {
		background-color: $color_rob_roy_approx;
	}
	.container a {
		color: $color_rob_roy_approx;
	}
	.related-posts li a:hover {
		color: $color_rob_roy_approx;
	}
}
.theme-base-0b {
	.sidebar {
		background-color: $color_chelsea_cucumber_approx;
	}
	.sidebar-toggle {
		color: $color_chelsea_cucumber_approx;
		&:active {
			background-color: $color_chelsea_cucumber_approx;
		}
	}
	#sidebar-checkbox:checked ~ .sidebar-toggle {
		background-color: $color_chelsea_cucumber_approx;
	}
	.container a {
		color: $color_chelsea_cucumber_approx;
	}
	.related-posts li a:hover {
		color: $color_chelsea_cucumber_approx;
	}
}
.theme-base-0c {
	.sidebar {
		background-color: $color_gulf_stream_approx;
	}
	.sidebar-toggle {
		color: $color_gulf_stream_approx;
		&:active {
			background-color: $color_gulf_stream_approx;
		}
	}
	#sidebar-checkbox:checked ~ .sidebar-toggle {
		background-color: $color_gulf_stream_approx;
	}
	.container a {
		color: $color_gulf_stream_approx;
	}
	.related-posts li a:hover {
		color: $color_gulf_stream_approx;
	}
}
.theme-base-0d {
	.sidebar {
		background-color: $color_hippie_blue_approx;
	}
	.sidebar-toggle {
		color: $color_hippie_blue_approx;
		&:active {
			background-color: $color_hippie_blue_approx;
		}
	}
	#sidebar-checkbox:checked ~ .sidebar-toggle {
		background-color: $color_hippie_blue_approx;
	}
	.container a {
		color: $color_hippie_blue_approx;
	}
	.related-posts li a:hover {
		color: $color_hippie_blue_approx;
	}
}
.theme-base-0e {
	.sidebar {
		background-color: $color_bouquet_approx;
	}
	.sidebar-toggle {
		color: $color_bouquet_approx;
		&:active {
			background-color: $color_bouquet_approx;
		}
	}
	#sidebar-checkbox:checked ~ .sidebar-toggle {
		background-color: $color_bouquet_approx;
	}
	.container a {
		color: $color_bouquet_approx;
	}
	.related-posts li a:hover {
		color: $color_bouquet_approx;
	}
}
.theme-base-0f {
	.sidebar {
		background-color: $color_potters_clay_approx;
	}
	.sidebar-toggle {
		color: $color_potters_clay_approx;
		&:active {
			background-color: $color_potters_clay_approx;
		}
	}
	#sidebar-checkbox:checked ~ .sidebar-toggle {
		background-color: $color_potters_clay_approx;
	}
	.container a {
		color: $color_potters_clay_approx;
	}
	.related-posts li a:hover {
		color: $color_potters_clay_approx;
	}
}

    .sidebar-overlay #sidebar-checkbox:checked ~ .wrap {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar-toggle {
  box-shadow: 0 0 0 .25rem #fff;
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
  box-shadow: .25rem 0 .5rem rgba(0, 0, 0, .1);
}

}
